.flex{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}

header{
    background-color: rgb(0, 0, 0);
    width:100vw;
    height:max(7.5vh,30px);
    margin-top:0;
    margin-left:0;
    padding-left:0;
    padding-top:0;
    display:flex;
    align-items:center;
    justify-content: center;
    position: sticky;
    top:0;
    z-index:9999;
}
body{
    background-color: rgb(222, 255, 222);
    margin-top:0;
    margin-left:0;
}
header a{
    padding-left:20px;
    color:rgb(255, 255, 255);
    font-size:100%;
    text-decoration: none;
}
header a:hover{
    text-decoration: underline;
}
.credit{
    padding:0;
    margin:0;
}
.day{
    text-decoration: underline;
}
.robot-title{
    margin-top:10px;
    width:20vw;
    border-radius: 20px;
    animation: 3s infinite linear color;
}

.logcontainer{
    width:60vw
}
.credit-feature{
    margin-bottom:0px;
}
.board{
    width:10vw;
    margin:10px;
}
.wumpusDesc{
    width:max(60%,450px);
    margin-top: 5px;
    margin-bottom:5px;
    padding:0;
}
h1,h2{
      font-family: "WDXL Lubrifont SC", sans-serif;
}
header,body{
     font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
}

@keyframes color{
    0%{
        filter: hue-rotate(0);
    }
    25%{
        filter: hue-rotate(90deg);
    }
    50%{
        filter: hue-rotate(180deg);
    }
    75%{
        filter: hue-rotate(270deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

