.flex{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}

header{
    background-color: rgb(0, 0, 0);
    width:100vw;
    height:max(7.5vh,30px);
    margin-top:0;
    margin-left:0;
    padding-left:0;
    padding-top:0;
    display:flex;
    align-items:center;
    justify-content: center;
}
body{
    background-color: rgb(243, 247, 248);
    margin-top:0;
    margin-left:0;
}
header a{
    padding-left:20px;
    color:rgb(255, 255, 255);
    font-size:100%;
    text-decoration: none;
}
header a:hover{
    color:rgb(255, 255, 255);
    text-decoration: underline;
}
.credit{
    padding:0;
    margin:0;
}
.day{
    text-decoration: underline;
}
.robot-title{
    margin-top:10px;
    width:20vw;
    border-radius: 20px;
}